@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>
     <main> 
         <article class="content px-4">
             @*@Body*@
             <Tab ClickTabToNavigation="true" ShowExtendButtons="true" ShowClose="true" Body=@Body></Tab>
         </article>
    </main>
</div>
