<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">MauiMultiApp</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="barcode">
				<span class="fa fa-barcode" aria-hidden="true"></span> Barcode
			</NavLink>
		</div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="qrcode">
                <span class="fa fa-qrcode" aria-hidden="true"></span> 二维码
            </NavLink>
		</div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="circle">
                <span  aria-hidden="true"></span> 进度环
            </NavLink>
		</div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="captchass">
                <span  aria-hidden="true"></span> 滑块验证码
            </NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Upload">
				<span class="fa fa-upload" aria-hidden="true"></span> Upload
			</NavLink>
		</div>
        <div class="nav-item px-3">
			<NavLink class="nav-link" href="files">
				<span class="fa fa-list" aria-hidden="true"></span> Files
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
