@page "/"

<title>MauiApp7test</title>
<PageTitle>MauiApp7test</PageTitle>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<iframe width="684" height="385" src="https://www.youtube.com/embed/sGYIDKx6cY0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 