@page "/TestIframe"

@using BootstrapBlazor.Components

<iframe sandbox="allow-scripts" srcdoc="<h3>OOOO</h3>" />


<iframe allow="fullscreen" style="border: none; width: 100%; height: 700px;" srcdoc="<!DOCTYPE html>
<html lang=&quot;zh-CN&quot;>
<head>
    <meta name=&quot;renderer&quot; content=&quot;webkit|ie-comp|ie-stand&quot; />
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot; />
    <meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot;>
    <meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;chrome=1,IE=edge&quot;>
    <title>EXCEl预览</title>
    <style>
        html,body,.sheet-content{
            position: relative;
            height: 100%;
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .sheet-bar{
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position:absolute;
            bottom: 0;
            left: 0;
            border-top: 1px solid #ccc;
            height: 32px;
            width: 100%;
            font-size: 0;
            white-space:nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }
        .sheet-bar-item{
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            padding: 0 16px;
            border-right:1px solid #ccc;
            background-color: #f2f2f2;
            cursor: pointer;
            color: #666;
        }
        .sheet-bar-item.active{
            background-color: #fff;
            color: #04BCC1;
        }
        .sheet-bar-item.active:after {
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            width: 100%;
            height: 4px;
            box-sizing: border-box;
            pointer-events: none;
            border-bottom: 4px solid #04BCC1;
        }
        .sheet-content-item{
            position: relative;
            height: 100%;
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: auto;
            display: none;
        }
        .sheet-content-item.show{
            display: block;
        }
        td{
            height: 13.5pt;
            font-size: 11pt;
            white-space: pre;
            color:#000;
        }
        .ftr>td{
            height: 0;
        }
        .right{
            text-align: right;
        }
        .center{
            text-align: center;
        }
        .c0{vertical-align:bottom;height:19.95pt;font-family:Microsoft YaHei UI;}
        .c1{vertical-align:bottom;white-space:pre-wrap;height:94.95pt;font-family:Microsoft YaHei UI;}
        .c2{text-align:left;vertical-align:middle;height:94.95pt;font-weight:bold;font-size:40pt;font-family:Microsoft YaHei UI;}
        .c3{vertical-align:bottom;height:94.95pt;font-size:22pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c4{text-align:right;vertical-align:top;}
        .c5{text-align:left;vertical-align:middle;border-right:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c6{vertical-align:middle;white-space:pre-wrap;height:30pt;font-size:10pt;font-family:Microsoft YaHei UI;}
        .c7{text-align:left;vertical-align:middle;white-space:pre-wrap;height:30pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#4472c4;}
        .c8{text-align:center;vertical-align:middle;height:30pt;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#4472c4;}
        .c9{text-align:left;vertical-align:middle;border-right:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c10{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c11{vertical-align:middle;height:30pt;font-size:10pt;font-family:Microsoft YaHei UI;}
        .c12{text-align:left;vertical-align:middle;border-right:solid 1pt #000000;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c13{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-weight:bold;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c14{text-align:center;vertical-align:middle;height:30pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#4472c4;}
        .c15{text-align:left;vertical-align:middle;height:30pt;font-size:10pt;font-family:Microsoft YaHei UI;}
        .c16{text-align:left;vertical-align:middle;border-right:solid 1pt #000000;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c17{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c18{vertical-align:middle;height:30pt;font-weight:bold;font-size:10pt;font-family:Microsoft YaHei UI;}
        .c19{vertical-align:middle;height:37.95pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c20{vertical-align:middle;height:37.95pt;font-weight:bold;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c21{vertical-align:bottom;height:30pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;}
        .c22{text-align:left;vertical-align:middle;height:30pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c23{text-align:left;vertical-align:middle;height:30pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;}
        .c24{text-align:left;vertical-align:middle;border-bottom:solid 1pt #000000;height:48pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c25{text-align:center;vertical-align:middle;border-bottom:solid 1pt #000000;white-space:pre-wrap;height:48pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c26{text-align:center;vertical-align:middle;border-bottom:solid 1pt #000000;height:48pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c27{vertical-align:bottom;height:48pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c28{text-align:left;vertical-align:middle;border-bottom:solid 1pt #000000;height:48pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c29{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-right:solid 1pt #000000;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c30{vertical-align:bottom;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c31{text-align:left;vertical-align:middle;border-right:solid 1pt #000000;border-top:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c32{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-right:solid 1pt #000000;border-top:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c33{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-top:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c34{text-align:left;vertical-align:middle;border-right:solid 1pt #000000;border-top:solid 1pt #000000;height:30pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c35{text-align:center;vertical-align:bottom;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c36{text-align:left;vertical-align:middle;height:37.95pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c37{text-align:center;vertical-align:middle;height:37.95pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c38{vertical-align:bottom;height:37.95pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c39{text-align:center;vertical-align:bottom;height:37.95pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c40{text-align:left;vertical-align:middle;border-bottom:solid 1pt #000000;height:30pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c41{text-align:left;vertical-align:middle;border-bottom:solid 1pt #000000;height:30pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;}
        .c42{text-align:left;vertical-align:middle;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:48pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c43{text-align:center;vertical-align:middle;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;white-space:pre-wrap;height:48pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c44{text-align:center;vertical-align:middle;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:48pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c45{text-align:left;vertical-align:middle;height:30pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c46{text-align:left;vertical-align:middle;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c47{vertical-align:middle;height:37.95pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c48{text-align:left;vertical-align:middle;height:37.95pt;font-weight:bold;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c49{text-align:left;vertical-align:middle;height:37.95pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c50{text-align:left;vertical-align:middle;border-bottom:solid 1pt #000000;height:49.95pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c51{text-align:center;vertical-align:middle;border-bottom:solid 1pt #000000;white-space:pre-wrap;height:49.95pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c52{text-align:center;vertical-align:middle;border-bottom:solid 1pt #000000;height:49.95pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c53{vertical-align:bottom;height:49.95pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c54{text-align:left;vertical-align:middle;border-bottom:solid 1pt #000000;height:49.95pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c55{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-right:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c56{vertical-align:middle;height:37.95pt;font-weight:bold;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c57{vertical-align:middle;height:37.95pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c58{vertical-align:middle;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:48pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c59{vertical-align:middle;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c60{text-align:center;vertical-align:middle;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c61{text-align:center;vertical-align:middle;border-left:solid 1pt #000000;border-right:solid 1pt #000000;border-top:solid 1pt #000000;border-bottom:solid 1pt #000000;height:30pt;font-weight:bold;font-size:12pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c62{vertical-align:middle;border-bottom:solid 1pt #000000;height:30pt;font-weight:bold;font-size:20pt;font-family:Microsoft YaHei UI;background-color:#ffffff;}
        .c63{text-align:center;vertical-align:bottom;height:30pt;font-size:10pt;font-family:Microsoft YaHei UI;}
        .c64{text-align:left;vertical-align:middle;white-space:pre-wrap;height:30pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#5b9bd5;}
        .c65{text-align:center;vertical-align:middle;height:30pt;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#5b9bd5;}
        .c66{vertical-align:bottom;height:24.9pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c67{text-align:left;vertical-align:middle;white-space:pre-wrap;height:24.9pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#5b9bd5;}
        .c68{text-align:center;vertical-align:middle;height:24.9pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;background-color:#5b9bd5;}
        .c69{vertical-align:middle;white-space:pre-wrap;height:48.65pt;font-size:14pt;font-family:Microsoft YaHei UI;}
        .c70{vertical-align:middle;white-space:pre-wrap;height:30pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c71{vertical-align:bottom;white-space:pre-wrap;height:34.95pt;font-weight:bold;font-size:14pt;font-family:Microsoft YaHei UI;}
        .c72{vertical-align:middle;white-space:pre-wrap;height:32.6pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c73{vertical-align:middle;white-space:pre-wrap;height:10.2pt;font-size:12pt;font-family:Microsoft YaHei UI;}
        .c74{vertical-align:middle;white-space:pre-wrap;height:16.3pt;font-size:12pt;font-family:Microsoft YaHei UI;}

    </style>
</head>
<body style=&quot;padding-bottom: 32px;&quot; >
    <div class=&quot;sheet-content&quot; >
        <div class=&quot;sheet-content-item show &quot; id =&quot;sheet0&quot; ><table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; style=&quot;border-collapse:collapse;table-layout:fixed;width:1821px;&quot;  >
<tr class=&quot;ftr&quot;>
<td style=&quot;width:12px;&quot;></td>
<td style=&quot;width:276px;&quot;></td>
<td style=&quot;width:186px;&quot;></td>
<td style=&quot;width:186px;&quot;></td>
<td style=&quot;width:186px;&quot;></td>
<td style=&quot;width:141px;&quot;></td>
<td style=&quot;width:276px;&quot;></td>
<td style=&quot;width:186px;&quot;></td>
<td style=&quot;width:186px;&quot;></td>
<td style=&quot;width:186px;&quot;></td>
</tr>
<tr>
<td class=&quot;c0&quot;></td>
</tr>
<tr>
<td class=&quot;c1&quot;></td>
<td class=&quot;c2&quot; colspan=&quot;7&quot;>个人月度预算</td>
<td class=&quot;c3&quot;></td>
<td class=&quot;c3&quot;></td>
</tr>
<tr>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c5&quot; colspan=&quot;2&quot;>预计每月收入</td>
<td class=&quot;c6&quot;></td>
<td class=&quot;c7&quot; rowspan=&quot;2&quot; colspan=&quot;3&quot;>预计余额
（预计收入减预计支出）</td>
<td class=&quot;c8&quot; rowspan=&quot;2&quot;>¥3,405.00_)</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c9&quot;>收入 1</td>
<td class=&quot;c10&quot;>¥4,300.00_)</td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c11&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c9&quot;>额外收入</td>
<td class=&quot;c10&quot;>¥300.00_)</td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c7&quot; rowspan=&quot;2&quot; colspan=&quot;3&quot;>实际余额
（实际收入减实际支出）</td>
<td class=&quot;c8&quot; rowspan=&quot;2&quot;>¥3,064.00_)</td>
<td class=&quot;c11&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c12&quot;>每月总收入</td>
<td class=&quot;c13&quot;>¥4,600.00_)</td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c11&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c7&quot; rowspan=&quot;2&quot; colspan=&quot;3&quot;>差额
（实际值减预计值）</td>
<td class=&quot;c14&quot; rowspan=&quot;2&quot;>[Red](¥341.00)</td>
<td class=&quot;c11&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c5&quot; colspan=&quot;2&quot;>实际每月收入</td>
<td class=&quot;c6&quot;></td>
<td class=&quot;c15&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c9&quot;>收入 1</td>
<td class=&quot;c10&quot;>¥4,000.00_)</td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c11&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>额外收入</td>
<td class=&quot;c17&quot;>¥300.00_)</td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c11&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c18&quot;></td>
<td class=&quot;c11&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c12&quot;>每月总收入</td>
<td class=&quot;c13&quot;>¥4,300.00_)</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c19&quot;></td>
<td class=&quot;c20&quot;></td>
</tr>
<tr>
<td class=&quot;c21&quot;></td>
<td class=&quot;c22&quot;>住房</td>
<td class=&quot;c23&quot;></td>
<td class=&quot;c15&quot;></td>
<td class=&quot;c15&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c23&quot;>娱乐</td>
<td class=&quot;c23&quot;></td>
<td class=&quot;c23&quot;></td>
<td class=&quot;c23&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c24&quot;>0</td>
<td class=&quot;c25&quot;>预计
成本</td>
<td class=&quot;c25&quot;>实际
成本</td>
<td class=&quot;c26&quot;>差额</td>
<td class=&quot;c27&quot;></td>
<td class=&quot;c28&quot;>0</td>
<td class=&quot;c25&quot;>预计
成本</td>
<td class=&quot;c25&quot;>实际
成本</td>
<td class=&quot;c26&quot;>差额</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>抵押贷款或租金</td>
<td class=&quot;c29&quot;>¥1,000.00</td>
<td class=&quot;c29&quot;>¥1,000.00</td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>视频/DVD</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>电话</td>
<td class=&quot;c29&quot;>¥54.00</td>
<td class=&quot;c29&quot;>¥100.00</td>
<td class=&quot;c17&quot;>¥-46.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>CD</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>电费</td>
<td class=&quot;c29&quot;>¥44.00</td>
<td class=&quot;c29&quot;>¥56.00</td>
<td class=&quot;c17&quot;>¥-12.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>电影</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>燃气</td>
<td class=&quot;c29&quot;>¥22.00</td>
<td class=&quot;c29&quot;>¥28.00</td>
<td class=&quot;c17&quot;>¥-6.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>音乐会</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>用水和排污</td>
<td class=&quot;c29&quot;>¥8.00</td>
<td class=&quot;c29&quot;>¥8.00</td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>体育活动</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>有线电视费</td>
<td class=&quot;c29&quot;>¥34.00</td>
<td class=&quot;c29&quot;>¥34.00</td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>现场</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>垃圾处理</td>
<td class=&quot;c29&quot;>¥10.00</td>
<td class=&quot;c29&quot;>¥10.00</td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>保养或修理</td>
<td class=&quot;c29&quot;>¥23.00</td>
<td class=&quot;c29&quot;>¥0.00</td>
<td class=&quot;c17&quot;>¥23.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>日用品</td>
<td class=&quot;c29&quot;>¥0.00</td>
<td class=&quot;c29&quot;>¥0.00</td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c31&quot;>其他</td>
<td class=&quot;c32&quot;>¥0.00</td>
<td class=&quot;c32&quot;>¥0.00</td>
<td class=&quot;c33&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c34&quot;>小计</td>
<td class=&quot;c32&quot;></td>
<td class=&quot;c32&quot;></td>
<td class=&quot;c33&quot;>¥-41.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c36&quot;></td>
<td class=&quot;c37&quot;></td>
<td class=&quot;c37&quot;></td>
<td class=&quot;c37&quot;></td>
<td class=&quot;c38&quot;></td>
<td class=&quot;c39&quot;></td>
<td class=&quot;c39&quot;></td>
<td class=&quot;c39&quot;></td>
<td class=&quot;c39&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c40&quot; colspan=&quot;4&quot;>交通</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c41&quot; colspan=&quot;4&quot;>贷款</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c26&quot;>0</td>
<td class=&quot;c25&quot;>预计
成本</td>
<td class=&quot;c25&quot;>实际
成本</td>
<td class=&quot;c26&quot;>差额</td>
<td class=&quot;c27&quot;></td>
<td class=&quot;c42&quot;>0</td>
<td class=&quot;c43&quot;>预计
成本</td>
<td class=&quot;c43&quot;>实际
成本</td>
<td class=&quot;c44&quot;>差额</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>汽车还款</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>个人</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>公交/出租车费</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>学生</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>保险</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>信用卡</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>牌照</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>信用卡</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>燃油</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>信用卡</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>维护</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c45&quot;></td>
<td class=&quot;c46&quot;></td>
<td class=&quot;c46&quot;></td>
<td class=&quot;c46&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c47&quot;></td>
<td class=&quot;c19&quot;></td>
<td class=&quot;c19&quot;></td>
<td class=&quot;c37&quot;></td>
<td class=&quot;c38&quot;></td>
<td class=&quot;c39&quot; colspan=&quot;4&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c41&quot; colspan=&quot;4&quot;>保险</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c41&quot; colspan=&quot;4&quot;>税款</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c42&quot;>0</td>
<td class=&quot;c43&quot;>预计
成本</td>
<td class=&quot;c43&quot;>实际
成本</td>
<td class=&quot;c44&quot;>差额</td>
<td class=&quot;c27&quot;></td>
<td class=&quot;c28&quot;>0</td>
<td class=&quot;c25&quot;>预计
成本</td>
<td class=&quot;c25&quot;>实际
成本</td>
<td class=&quot;c26&quot;>差额</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>住宅</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>国税</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>健康</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>省/市/自治区税</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>人寿</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>地税</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c48&quot;></td>
<td class=&quot;c49&quot;></td>
<td class=&quot;c49&quot;></td>
<td class=&quot;c37&quot;></td>
<td class=&quot;c38&quot;></td>
<td class=&quot;c39&quot;></td>
<td class=&quot;c39&quot;></td>
<td class=&quot;c39&quot;></td>
<td class=&quot;c39&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c40&quot; colspan=&quot;4&quot;>食品</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c41&quot; colspan=&quot;4&quot;>存款或投资</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c50&quot;>0</td>
<td class=&quot;c51&quot;>预计
成本</td>
<td class=&quot;c51&quot;>实际
成本</td>
<td class=&quot;c52&quot;>差额</td>
<td class=&quot;c53&quot;></td>
<td class=&quot;c54&quot;>0</td>
<td class=&quot;c51&quot;>预计
成本</td>
<td class=&quot;c51&quot;>实际
成本</td>
<td class=&quot;c52&quot;>差额</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>日用杂货</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c9&quot;>养老金帐户</td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c10&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>外出就餐</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>投资帐户</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c48&quot;></td>
<td class=&quot;c49&quot;></td>
<td class=&quot;c49&quot;></td>
<td class=&quot;c49&quot;></td>
<td class=&quot;c38&quot;></td>
<td class=&quot;c56&quot;></td>
<td class=&quot;c57&quot;></td>
<td class=&quot;c57&quot;></td>
<td class=&quot;c57&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c40&quot; colspan=&quot;4&quot;>宠物</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c41&quot; colspan=&quot;4&quot;>礼品和捐赠</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c58&quot;>0</td>
<td class=&quot;c43&quot;>预计
成本</td>
<td class=&quot;c43&quot;>实际
成本</td>
<td class=&quot;c44&quot;>差额</td>
<td class=&quot;c27&quot;></td>
<td class=&quot;c24&quot;>0</td>
<td class=&quot;c25&quot;>预计
成本</td>
<td class=&quot;c25&quot;>实际
成本</td>
<td class=&quot;c26&quot;>差额</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c9&quot;>食品</td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c10&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c9&quot;>慈善 1</td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c10&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>医疗</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>慈善 2</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>美容</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>慈善 3</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>玩具</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c45&quot;></td>
<td class=&quot;c59&quot;></td>
<td class=&quot;c59&quot;></td>
<td class=&quot;c60&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c61&quot;></td>
<td class=&quot;c61&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c45&quot;></td>
<td class=&quot;c59&quot;></td>
<td class=&quot;c59&quot;></td>
<td class=&quot;c60&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c47&quot;></td>
<td class=&quot;c47&quot;></td>
<td class=&quot;c47&quot;></td>
<td class=&quot;c47&quot;></td>
<td class=&quot;c38&quot;></td>
<td class=&quot;c20&quot;></td>
<td class=&quot;c19&quot;></td>
<td class=&quot;c19&quot;></td>
<td class=&quot;c19&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c62&quot; colspan=&quot;4&quot;>个人护理</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c40&quot; colspan=&quot;4&quot;>法务</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c28&quot;>0</td>
<td class=&quot;c25&quot;>预计
成本</td>
<td class=&quot;c25&quot;>实际
成本</td>
<td class=&quot;c26&quot;>差额</td>
<td class=&quot;c27&quot;></td>
<td class=&quot;c24&quot;>法务</td>
<td class=&quot;c25&quot;>预计
成本</td>
<td class=&quot;c25&quot;>实际
成本</td>
<td class=&quot;c26&quot;>差额</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c9&quot;>医疗</td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c10&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c9&quot;>律师</td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c55&quot;></td>
<td class=&quot;c10&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>美发/美甲</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>赡养费</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>服装</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>抵押或判决付款</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>干洗</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>健康俱乐部</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>组织费</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c16&quot;>其他</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c17&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c12&quot;>小计</td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c29&quot;></td>
<td class=&quot;c13&quot;>¥0.00</td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
<td class=&quot;c35&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c63&quot;></td>
<td class=&quot;c63&quot;></td>
<td class=&quot;c63&quot;></td>
<td class=&quot;c63&quot;></td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c64&quot; rowspan=&quot;2&quot; colspan=&quot;3&quot;>预计总成本</td>
<td class=&quot;c65&quot; rowspan=&quot;2&quot;>¥1,195.00_)</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c30&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c30&quot;></td>
<td class=&quot;c64&quot; rowspan=&quot;2&quot; colspan=&quot;3&quot;>实际总成本</td>
<td class=&quot;c65&quot; rowspan=&quot;2&quot;>¥1,236.00_)</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c30&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c66&quot;></td>
<td class=&quot;c67&quot; rowspan=&quot;2&quot; colspan=&quot;3&quot;>总差额</td>
<td class=&quot;c68&quot; rowspan=&quot;2&quot;>[Red](¥41.00)</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c66&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c66&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c66&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c4&quot;></td>
<td class=&quot;c66&quot;></td>
</tr>
</table>
</div>
        <div class=&quot;sheet-content-item  &quot; id =&quot;sheet1&quot; ><table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; style=&quot;border-collapse:collapse;table-layout:fixed;width:999px;&quot;  >
<tr class=&quot;ftr&quot;>
<td style=&quot;width:12px;&quot;></td>
<td style=&quot;width:987px;&quot;></td>
</tr>
<tr>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c2&quot;>了解此模板</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c69&quot;>使用此“个人月度预算”工作表来跟踪每月预计和实际收入以及预计和实际支出&ZeroWidthSpace;&ZeroWidthSpace;。</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c70&quot;>• 分别输入各表中各类别的费用。</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c70&quot;>• 自动计算预计余额、实际余额和差额异。</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c71&quot;>备注：&nbsp;</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c72&quot;>“个人月度预算”工作表的 A 列中提供了附加说明。此文本已被有意隐藏。若要删除文本，请选择 A 列，然后选择“删除”。若要取消隐藏文本，请选择 A 列，然后更改字体颜色。</td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c73&quot;></td>
</tr>
<tr>
<td class=&quot;c4&quot;></td>
<td class=&quot;c74&quot;>若要了解有关该工作表中各表格的详细信息，请在表格内按 Shift + F10，选择“表格”选项，然后选择“替换文本”。</td>
</tr>
</table>
</div>
    </div>
    <div class=&quot;sheet-bar&quot; >
        <div class=&quot;sheet-bar-item active &quot; data-value=&quot;sheet0&quot;  >个人月度预算</div><div class=&quot;sheet-bar-item&quot; data-value=&quot;sheet1&quot;  >开始</div>
    </div>
    <script>
        window.onload = function(){
            var btnlist = document.querySelectorAll('.sheet-bar-item');
            for(var i = 0,l =btnlist.length;i<l;i++){
                btnlist[i].onclick=function () {
                    var sheetId = this.getAttribute('data-value');
                    if(this.className.indexOf('active') == -1){
                        document.getElementsByClassName('active')[0].className = 'sheet-bar-item';
                        this.className = 'sheet-bar-item active';
                        document.getElementsByClassName('show')[0].className = 'sheet-content-item';
                        document.getElementById(sheetId).className = 'sheet-content-item show';
                    }
                }
            }
        }
    </script>
</body>
</html>
"></iframe>