@using Microsoft.AspNetCore.Components.Web
@namespace BlazorShared.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorSSR</title>
    <base href="~/" />
    <link href="_content/Densen.Extensions.BootstrapBlazor/css/font-awesome.min.css" rel="stylesheet">
    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet" asp-append-version="true">
    <link href="_content/BootstrapBlazor/css/motronic.min.css" rel="stylesheet" asp-append-version="true">
    <link href="_content/BlazorShared/css/app.css" rel="stylesheet" asp-append-version="true"/>
    <link href="BlazorSSR.styles.css" rel="stylesheet" asp-append-version="true"/>
    <link href="_content/BlazorShared/manifest.json" rel="manifest" asp-append-version="true"/>
    <link rel="apple-touch-icon" sizes="512x512" href="_content/BlazorShared/icon-512.png" asp-append-version="true"/>
    <link rel="apple-touch-icon" sizes="192x192" href="_content/BlazorShared/icon-192.png" asp-append-version="true"/>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js" asp-append-version="true" ></script>
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js" asp-append-version="true" ></script>
</body>
</html>

