@page "/AboutMe"
@attribute [TabItemOption(Text = "其他")]

<p></p>
<h4>Demo for Blazor & BootstrapBlazor</h4>
<p></p>
<p></p>
<p><a href="https://www.cnblogs.com/densen2014/">博客园</a></p>
<p><a href="https://toutiao.com/c/user/53462780186/?from=qrcode">头条</a></p>
<p><a href="https://blog.csdn.net/alex_zoucn">CSDN</a></p>
<p><a href="https://www.zhihu.com/people/alex-chow-54">知乎</a></p>
<p><a href="https://github.com/densen2014/Densen.Extensions">GitHub</a></p>
<p><a href="https://gitee.com/densen2014/Densen.Extensions">Gitee</a></p>
<p><a href="https://github.com/densen2014/BlazorMaui">BlazorMaui</a></p>
<p><a href="https://www.nuget.org/profiles/DensenInformatica">Nuget</a></p>
